/* Cargar la fuente personalizada desde la carpeta fonts */
@font-face {
  font-family: "MiFuente";
  src: url("/static/fonts/MiFuente.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Aplicar la fuente personalizada a todo el cuerpo */
body {
  font-family: 'MiFuente', sans-serif;
  background-image: url('imagenes/fondo.jpg');  /* Imagen de fondo de la página */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos del encabezado */
header {
  background-color: #64ba47;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  border: none;
}

.header-text h2 {
  font-size: 1.5vw; /* Tamaño adaptativo */
  text-align: center;
}

/* Contenedor del menú */
.menu-container {
  background-color: rgb(210, 52, 51);
  width: 90%;
  padding: 20px 0;
  border-radius: 20px;
  text-align: center;
  margin: 15px auto 0 auto;
  position: relative;
  z-index: 2; /* Hace que el menú esté encima de otros elementos */
}

/* Menú de navegación */
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 8vw;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 2vw; /* Tamaño adaptativo del texto */
  font-weight: bold;
}

@media (max-width: 768px) {
  nav ul li a {
    font-size: 4vw; /* Texto más pequeño en pantallas medianas */
  }
}

@media (max-width: 480px) {
  nav ul li a {
    font-size: 5vw; /* Texto más pequeño en pantallas pequeñas */
  }
}

/* Secciones principales */
.main-section {
  display: none;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  height: 100vh;
  position: relative; /* Asegura que los elementos dentro de esta sección no se desborden */
  z-index: 1; /* Asegura que no se sobreponga al menú */
}

#inicio {
  display: flex; /* Mostrar la sección de inicio por defecto */
}

/* Contenido de las secciones */
.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  border-radius: 8px;
  width: 50%;
  z-index: 2; /* Asegura que el contenido no quede debajo de otros elementos */
}

.logo img {
  width: 90%;
  height: auto;
}

.upload-btn {
  background-image: url('imagenes/boton.png'); /* Ruta de la imagen de fondo */
  background-size: 90%; /* Ajusta cómo se escala la imagen */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center; /* Centra la imagen dentro del botón */
  color: white;
  padding: 60px 40px;
  border: none;
  border-radius: 10px;
  font-size: 2.5vw;
  cursor: pointer;
  font-family: 'MiFuente', sans-serif;
  background-color: transparent;
}

/* Contenedor de la caja */
.blue-container {
  width: 50%;
  padding: 30px;
  text-align: center;
  height: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent; /* Asegúrate de que no haya color de fondo sólido */
  z-index: 1; /* Asegura que no quede por encima de otros elementos interactivos */
}

/* Imagen de la caja - Fondo fijo */
.caja-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: fill; /* Ajusta la imagen para que no se distorsione */
  z-index: 0; /* La caja estará al fondo */
}

/* Información y texto */
.info-message {
  position: relative;
  color: #cb0303;
  font-size: 3.5vw;
  padding-top: 85px;
  z-index: 10; /* Asegura que no se quede encima de otros elementos interactivos */
}

/* Contenedor de Historia */
.contenedor-historia {
  color: white;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: space-between; /* Coloca las imágenes en los extremos */
  align-items: center; /* Alinea las imágenes verticalmente */
  width: 100%; /* Puedes ajustar el tamaño del contenedor */
  height: 500px;
  margin: 10px auto;
  text-align: center;
  margin-top: 100px;
  position: relative;
}

/* Imagen historia (a la izquierda) */
.contenedor-historia .historia-image {
  width: 100%; /* Ajusta el tamaño de la imagen */
  height: auto;
  z-index: 1; /* Coloca la imagen historia detrás del texto */
}

/* Imagen de la misión (a la derecha) */
.contenedor-historia .mision-image {
  width: 100%; /* Ajusta el tamaño de la imagen */
  height: auto;
  z-index: 2; /* Asegura que la imagen de la misión esté encima de historia */
}

